.container {
  max-width: 1200px;
  margin: auto;
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  height: 460px;
  object-fit: cover;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}


